<nav class="sidebar" th:fragment="sidebar(currentPath)">
    <a th:classappend="${currentPath == '/learn'} ? 'active'" th:href="@{/learn}">
        <span th:replace="~{fragments/icons/book}"></span>
        <span>Learn</span>
    </a>
    <a th:classappend="${currentPath == '/practice'} ? 'active'" th:href="@{/practice}">
        <span th:replace="~{fragments/icons/dumbell}"></span>
        <span>Practice</span>
    </a>
    <a th:classappend="${currentPath == '/favourites'} ? 'active'" th:href="@{/favourites}">
        <span th:replace="~{fragments/icons/hearts}"></span>
        <span>Favourites</span>
    </a>
</nav>