@import url("nav.css");

.main-container {
    box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.2);
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 5em 7em;
}

.subtitle {
    span {
        color: var(--red);
    }
}

#kanji-container {
    display: flex;
}

#empty-state {
    text-align: center;

    a:hover {
        text-decoration: underline;
    }
}

.mascot {
    width: 8em;
    opacity: 0.8;
}